In [1]:
import pandas as pd
import numpy as np
import CMC_helper_function as cmc

In [2]:
folder_path = 'processed_data/'

signle_CMC = pd.read_csv(folder_path + 'signle_CMC_data.csv')
CAPB_CMC = pd.read_csv(folder_path + 'CAPB_CMC_data.csv').drop(columns=['Sample'])
mixed_CMC = pd.read_csv(folder_path + 'mixed_CMC_data.csv').drop(columns=['well_idx','600'])

In [3]:
signle_CMC['analysis'] = 'fine'
signle_CMC.head()

,334_373,334_384,ratio,surfactant,assay,time,replicate,concentration,analysis
0,133296.0,167994.0,0.793457,NaDC,b,5,3,2.135000,fine
1,121709.0,150630.0,0.808000,NaDC,b,5,3,2.756273,fine
2,143249.0,175407.0,0.816666,NaDC,b,5,3,3.558333,fine
3,153011.0,181410.0,0.843454,NaDC,b,5,3,4.003125,fine
4,117571.0,146014.0,0.805204,NaDC,b,5,3,4.536875,fine

In [4]:
CAPB_CMC['analysis'] = 'rough'
CAPB_CMC.head()

,334_373,334_384,replicate,assay,time,concentration,surfactant,ratio,analysis
0,109894.0,132898.0,1,c,20,0.089,CAPB,0.826905,rough
1,130943.0,157137.0,1,c,20,0.127,CAPB,0.833305,rough
2,130320.0,157032.0,1,c,20,0.181,CAPB,0.829895,rough
3,123992.0,155677.0,1,c,20,0.258,CAPB,0.796470,rough
4,118330.0,148677.0,1,c,20,0.368,CAPB,0.795886,rough

In [5]:
mixed_CMC['time'] = 10
mixed_CMC['assay'] = 'N/A'
mixed_CMC.head()

,replicate,334_373,334_384,ratio,surfactant_1,surfactant_1_ratio,surfactant_2,surfactant_2_ratio,analysis,concentration,time,assay
0,1,157125.0,184034.0,0.853782,SDS,0.5,NaC,0.5,rough_rough,1.496,10,N/A
1,1,155280.0,185929.0,0.835158,SDS,0.5,NaC,0.5,rough_rough,2.044,10,N/A
2,1,162266.0,200560.0,0.809065,SDS,0.5,NaC,0.5,rough_rough,2.793,10,N/A
3,1,158642.0,192976.0,0.822082,SDS,0.5,NaC,0.5,rough_rough,3.816,10,N/A
4,1,175794.0,221639.0,0.793155,SDS,0.5,NaC,0.5,rough_rough,5.214,10,N/A

In [6]:
signle_CMC_filtered = signle_CMC[signle_CMC['surfactant'] != 'CAPB']
signle_CMC_new = pd.concat([signle_CMC_filtered, CAPB_CMC], ignore_index=True)
signle_CMC_new.head()

,334_373,334_384,ratio,surfactant,assay,time,replicate,concentration,analysis
0,133296.0,167994.0,0.793457,NaDC,b,5,3,2.135000,fine
1,121709.0,150630.0,0.808000,NaDC,b,5,3,2.756273,fine
2,143249.0,175407.0,0.816666,NaDC,b,5,3,3.558333,fine
3,153011.0,181410.0,0.843454,NaDC,b,5,3,4.003125,fine
4,117571.0,146014.0,0.805204,NaDC,b,5,3,4.536875,fine

In [7]:
signle_CMC_new = signle_CMC_new.rename(columns={'surfactant': 'surfactant_1'})
signle_CMC_new['surfactant_1_ratio'] = 1
signle_CMC_new['surfactant_2'] = 'N/A'
signle_CMC_new['surfactant_2_ratio'] = 0

In [8]:
signle_CMC_new.head()

,334_373,334_384,ratio,surfactant_1,assay,time,replicate,concentration,analysis,surfactant_1_ratio,surfactant_2,surfactant_2_ratio
0,133296.0,167994.0,0.793457,NaDC,b,5,3,2.135000,fine,1,N/A,0
1,121709.0,150630.0,0.808000,NaDC,b,5,3,2.756273,fine,1,N/A,0
2,143249.0,175407.0,0.816666,NaDC,b,5,3,3.558333,fine,1,N/A,0
3,153011.0,181410.0,0.843454,NaDC,b,5,3,4.003125,fine,1,N/A,0
4,117571.0,146014.0,0.805204,NaDC,b,5,3,4.536875,fine,1,N/A,0

In [9]:
all_CMC = pd.concat([signle_CMC_new, mixed_CMC], ignore_index=True)
all_CMC.tail()

,334_373,334_384,ratio,surfactant_1,assay,time,replicate,concentration,analysis,surfactant_1_ratio,surfactant_2,surfactant_2_ratio
8923,78533.0,106255.0,0.739099,TTAB,N/A,10,3,5.360,rough_rough,0.95,CAPB,0.05
8924,73970.0,101745.0,0.727014,TTAB,N/A,10,3,7.650,rough_rough,0.95,CAPB,0.05
8925,69795.0,97601.0,0.715105,TTAB,N/A,10,3,10.917,rough_rough,0.95,CAPB,0.05
8926,69465.0,95048.0,0.730841,TTAB,N/A,10,3,15.579,rough_rough,0.95,CAPB,0.05
8927,61700.0,84915.0,0.726609,TTAB,N/A,10,3,22.233,rough_rough,0.95,CAPB,0.05

In [10]:
all_CMC.to_csv(folder_path + 'all_CMC_data.csv', index=False)

In [11]:
all_CMC_processed = all_CMC[(all_CMC['analysis'] != 'rough_rough') & (all_CMC['time'] == 10)]
all_CMC_processed

,334_373,334_384,ratio,surfactant_1,assay,time,replicate,concentration,analysis,surfactant_1_ratio,surfactant_2,surfactant_2_ratio
228,129328.0,159973.0,0.808436,NaDC,c,10,1,2.135000,fine,1.0,N/A,0.0
229,123838.0,152088.0,0.814252,NaDC,c,10,1,2.756273,fine,1.0,N/A,0.0
230,127553.0,156793.0,0.813512,NaDC,c,10,1,3.558333,fine,1.0,N/A,0.0
231,126567.0,157099.0,0.805651,NaDC,c,10,1,4.003125,fine,1.0,N/A,0.0
232,127555.0,158499.0,0.804768,NaDC,c,10,1,4.536875,fine,1.0,N/A,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
8743,60700.0,81965.0,0.740560,TTAB,N/A,10,3,1.703236,fine_fine,0.5,CAPB,0.5
8744,63834.0,86516.0,0.737829,TTAB,N/A,10,3,1.851343,fine_fine,0.5,CAPB,0.5
8745,68681.0,93716.0,0.732863,TTAB,N/A,10,3,2.221612,fine_fine,0.5,CAPB,0.5
8746,69810.0,95409.0,0.731692,TTAB,N/A,10,3,2.868089,fine_fine,0.5,CAPB,0.5
8747,67417.0,92323.0,0.730230,TTAB,N/A,10,3,3.702687,fine_fine,0.5,CAPB,0.5

In [12]:
cols_to_group = ['surfactant_1', 'surfactant_1_ratio', 'surfactant_2', 'surfactant_2_ratio', 'time', 'assay']

# perform group-wise fits
grp = all_CMC_processed.groupby(cols_to_group)

# linear = grp.apply(
#     lambda g: pd.Series(
#         cmc.CMC_plot(ax = None, conc = g['concentration'].values, ratio = g['ratio'].values, log=0, plot=0),
#         index=['linear_CMC', 'linear_CMC_R2']
#     )
# )

def calc_log(g):
    x0_log, r2 = cmc.CMC_plot(
        ax=None,
        conc  = g['concentration'].values,
        ratio = g['ratio'].values,
        log   = 1,
        plot  = 0
    )
    return pd.Series({
        'CMC':    np.exp(x0_log),
        'R2': r2
    })

log = grp.apply(calc_log)


# merge results back into the main DataFrame
df_with_cmc = (
    all_CMC_processed
#    .merge(linear.reset_index(), on=cols_to_group)
    .merge(log.reset_index(), on=cols_to_group)
)

df_with_cmc = (
    df_with_cmc
    .drop_duplicates(subset=cols_to_group)
    .reset_index(drop=True)
).drop(columns=['334_373', '334_384', 'ratio', 'time', 'concentration', 'replicate', 'analysis'])

/Users/zeqing/0_Github/SDL5_CMC/CMC/All_data/CMC_helper_function.py:113: RuntimeWarning: overflow encountered in exp
  return A2 + (A1 - A2) / (1 + np.exp((x - x0) / dx))
/Users/zeqing/0_Github/SDL5_CMC/CMC/All_data/CMC_helper_function.py:127: OptimizeWarning: Covariance of the parameters could not be estimated
  popt, _ = curve_fit(boltzmann, conc, ratio, p0, maxfev=5000)
/var/folders/hk/7jjnrbrj53n1t8_bmkhf0_k00000gn/T/ipykernel_30557/3086162889.py:26: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  log = grp.apply(calc_log)

In [13]:
from pandas.api.types import CategoricalDtype

# 1. Define your orders
SURFACTANT_ORDER  = ['SDS','NaDC','NaC','CTAB','DTAB','TTAB','CAPB','CHAPS']


# 2. Create ordered categoricals
surf_cat = CategoricalDtype(categories=SURFACTANT_ORDER,  ordered=True)
surf_cat = CategoricalDtype(categories=SURFACTANT_ORDER,  ordered=True)


# 3. Cast your columns
df = df_with_cmc.copy()  # or operate in‐place
df['surfactant_1']    = df['surfactant_1'].astype(surf_cat)
df['surfactant_2']    = df['surfactant_2'].astype(surf_cat)


# 4. Sort by your four keys (last key is numeric, so it just goes low→high)
df_sorted = df.sort_values(
    by=['surfactant_1', 'assay', 'surfactant_1'],
    ascending=[True, True, True],
    ignore_index=True
)

df_sorted

,surfactant_1,assay,surfactant_1_ratio,surfactant_2,surfactant_2_ratio,CMC,R2
0,SDS,N/A,0.05,NaC,0.95,74280.586547,0.962448
1,SDS,N/A,0.80,NaC,0.20,1054.156854,0.961063
2,SDS,N/A,0.20,NaC,0.80,2622.952512,0.968804
3,SDS,N/A,0.50,NaC,0.50,591.563947,0.945674
4,SDS,N/A,0.80,NaDC,0.20,300.182262,0.936634
...,...,...,...,...,...,...,...
82,CAPB,b,1.00,NaN,0.00,2.016510,0.919475
83,CAPB,c,1.00,NaN,0.00,2.435286,0.951113
84,CHAPS,a,1.00,NaN,0.00,600.031388,0.994193
85,CHAPS,b,1.00,NaN,0.00,1285.313005,0.991962
86,CHAPS,c,1.00,NaN,0.00,1647.864960,0.991370

In [14]:
df_with_cmc.to_csv(folder_path + 'all_CMC_processed_data.csv', index=False)